<main>
  <div class="header">
    <h1>Bak toevoegen</h1>
    <a href="/bakken">Terug naar overzicht</a>
    <hr />
  </div>

  <form method="POST">
    <label for="player">Speler</label>
    <select id="player" name="player" required>
      <option value="">Kies een speler</option>
      {{ range .Players }}
      <option value="{{ .ID }}">{{ .Name }}</option>
      {{ end }}
    </select>

    <label for="reason">Reden</label>
    <input type="text" id="reason" name="reason" required />

    <button type="submit">Toevoegen</button>
  </form>
</main>