<main>
  <div class="header">
    <h1>Blog toevoegen</h1>
    <a href="/blog">Terug naar overzicht</a>
    <hr />
  </div>

  <form method="POST" action="/edit-blog">
    <label for="player">Schrijver</label>
    <select id="player" name="player" required>
      <option value="{{ .Blog.WritedID }}">Kies een schrijver</option>
      {{ range .Players }}
      <option value="{{ .ID }}">{{ .Name }}</option>
      {{ end }}
    </select>

    <label for="title">Titel</label>
    <input type="text" id="title" name="title" required value="{{ .Blog.Title }}" />

    <label for="content">Inhoud</label>
    <textarea id="content" name="content" required />{{ .Blog.Content }}</textarea>

    <input type="text" id="id" name="id" value="{{ .Blog.ID }}" hidden />

    <button type="submit">Toevoegen</button>
  </form>
</main>